<div class="containerBigCard">
  <div class="bigCardPhoto">
    <img
    src="https://lncimg.lance.com.br/cdn-cgi/image/width=3840,quality=75,format=webp/uploads/2023/09/53174127059_ad2e89d560_k-aspect-ratio-512-320-1.jpg"
    alt="imgBigCard"
    height="200px">
  </div>
  <div class="bigCardTitle">
    <h1><a href="#">Saiu a convocação da seleção brasileira</a></h1>
  </div>
  <div class="bigTitleDesciption">
    <a href="#"><p>O tecnico Fernado Diniz anuncia a convocação para a selecão Brasileira</p></a>
  </div>

</div>
