.containerSmallCard {
  width: 800px;
}

.containerSmallCardContent{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.smallCardPhoto{
  border: solid rgb(108, 212, 87) 1px;
  width: 200px;
}

.smallCardPhoto img {
  width: 100%;
  height: 100%;
}

.smallCardTitle h1 {
  display: flex;
  font-size: 12px;
  margin-left: 10px;
}
.containerSmallCardSeparator{
  width: 100%;
  margin: 10px 0px 10px 0px;
}


